$description: rgb(109, 109, 109);

.carousel-item {
	&__image {
		width: 300px;
		height: 300px;
		object-fit: cover;
	}

	&__info {
		padding: 10px 0;
		display: grid;
		gap: 8px;
	}

	&__name {
		color: black;
	}

	&__description {
		color: $description;
	}

	&__price {
		font-weight: 600;
	}
}

@media (min-width: 1040px) {
	.carousel-item__image {
		width: 30vw;
		height: 30vw;
	}
}

@media (min-width: 1580px) {
	.carousel-item__image {
		width: 550px;
		height: 550px;
	}
}
