.carousel-item {
	width: 300px;

	&--deactivated {
		pointer-events: none;
	}
}

@media (min-width: 1040px) {
	.carousel-item {
		width: 30vw;
	}
}

@media (min-width: 1580px) {
	.carousel-item {
		width: 100%;
		min-width: 100%;
	}
}
