@use "../base/mixins";
$item-gap: 15px;

.carousel {
	position: relative;
	margin: 40px 0 0;
	user-select: none;
	width: 100%;

	&__overlay {
		display: none;
	}

	&__scroll {
		width: 100%;
		display: grid;
		grid-auto-flow: column;
		column-gap: 20px;
		overflow-x: scroll;
		cursor: pointer;

		&::-webkit-scrollbar {
			display: none;
		}
	}
}

@media (min-width: 800px) {
	.carousel {
		&__overlay {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			height: 100%;
			pointer-events: none;
			padding: 0 100px;
		}

		&__control {
			@include mixins.button($padding: false);
			display: flex;
			align-items: center;
			justify-content: center;
			width: 40px;
			height: 40px;
			background: white;
			margin-bottom: 80px;
			border-radius: 50%;
			pointer-events: all;
			cursor: pointer;

			&:hover &-icon {
				fill: black;
			}
		}

		&__control-icon {
			fill: #555;
			transition: fill 0.2s ease-in-out;
		}
	}
}

@media (min-width: 1580px) {
	.carousel {
		&__scroll {
			grid-auto-columns: calc((100% / 3) - (#{$item-gap} * 2 / 3));
		}
	}
}
