.check-box {
	display: flex;
	align-items: center;
	padding: 5px 0;
	user-select: none;
	cursor: pointer;

	&__icon {
		width: 100%;
		height: 100%;
	}

	&__box {
		display: block;
		margin-right: 5px;
		border-radius: 5px;
		width: 20px;
		height: 20px;
		border: 1px solid #ddd;

		&--checked {
			border-color: black;
			background: black;
		}
	}
}
