@use "../base/mixins";

$header-height: 60px;

.header {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	height: $header-height;
	position: sticky;
	top: 0;
	background: #fff;
	padding: 0 5vw;
	z-index: 2;

	&__section {
		height: 100%;
		@include mixins.flex();

		&--left {
			@include mixins.flex($justify: flex-start);
		}

		&--right {
			@include mixins.flex($justify: flex-end);
		}
	}

	&__actions-item {
		@include mixins.button($padding: false);
		margin-left: 20px;
	}
}

.nav-desktop {
	display: none;
}

@media (min-width: 770px) {
	.header__nav-mobile-toggle {
		display: none;
	}

	.nav-desktop {
		display: block;
		height: 100%;

		&__menu {
			@include mixins.flex;
			height: 100%;
		}

		&__menu-item {
			height: 100%;

			&:hover > .dropdown {
				display: flex;
			}

			&:hover > .nav-desktop__menu-link::after {
				transform: scaleX(1);
			}
		}

		&__menu-link {
			@include mixins.flex($align: center);
			position: relative;
			padding: 0 15px;
			height: 100%;

			&::after {
				content: "";
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				transform: scaleX(0);
				background: #000;
				transition: transform 0.1s ease-in-out;
			}
		}
	}

	.dropdown {
		display: none;
		position: absolute;
		justify-content: center;
		align-items: flex-start;
		padding: 30px;
		width: 100vw;
		background: white;
		left: 0;

		&__list {
			display: grid;
			gap: 10px;
			padding: 0 20px;
		}

		&__link {
			color: #555;

			&:hover {
				color: black;
			}

			&--header {
				font-weight: 500;
				color: black;
			}
		}
	}
}
