$description: rgb(109, 109, 109);

.product-card {
	width: 100%;

	&__image {
		width: 100%;
		object-fit: cover;
	}

	&__info {
		padding: 10px 0;
		display: grid;
		gap: 8px;
	}

	&__name {
		color: black;
	}

	&__description {
		color: $description;
	}

	&__price {
		font-weight: 600;
	}
}
