@mixin flex($direction: row, $align: center, $justify: center) {
	display: flex;
	flex-direction: $direction;
	align-items: $align;
	justify-content: $justify;
}

@mixin button($align: center, $justify: flex-start) {
	@include flex($align: $align, $justify: $justify);

	outline: none;
	border: none;
	background-color: white;
	cursor: pointer;
}
