.category-page {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
}

.filter {
	position: sticky;
	height: 300px;
	top: 60px;
	width: 200px;

	&__section {
		padding: 20px 0;

		&:not(:last-child) {
			border-bottom: 1px solid #ddd;
		}
	}

	&__title {
		font-weight: 500;
		font-size: 18px;
		margin-bottom: 20px;
	}
}

.product-list {
	display: grid;
	grid-template-columns: repeat(3, 500px);
	grid-auto-flow: row dense;
	column-gap: 15px;
	row-gap: 100px;
	padding: 2vw;
}
