@use '../base/mixins';

.home {
	display: grid;
	grid-template-columns: 1fr;
	gap: 6em;
	padding: 10px;
	justify-items: center;

	&__section {
		width: 100%;
		display: flex;
		flex-direction: column;
		overflow: auto;
	}

	&__section-title {
		font-size: 24px;
		font-weight: 400;
	}
}

.spotlight {
	position: relative;
	width: 100%;

	&__description {
		position: absolute;
		top: 0;
		display: grid;
		gap: 5px;
		padding: 40px;
	}

	&__hint {
		font-size: 24px;
	}

	&__title {
		font-size: 2em;
		width: 50%;
	}

	&__background {
		object-fit: cover;
		width: 100%;
		height: 400px;
		z-index: -1;
	}

	&__button {
		@include mixins.button($primary: true);
		width: fit-content;
	}
}

@media (min-width: 750px) {
	.home {
		padding: 40px;
	}

	.spotlight {
		&__title {
			font-size: 3em;
		}

		&__background {
			height: auto;
		}
	}
}

@media (min-width: 1500px) {
	.home {
		&__section {
			width: 90vw;
		}
	}

	.spotlight {
		&__title {
			font-size: 4em;
		}
	}
}

@media (min-width: 1850px) {
	.home {
		&__section {
			width: 1800px;
		}
	}
}
