@use "../base/mixins";

.product-wrapper {
	padding: 40px;
	width: 100%;
	@include mixins.flex($align: center, $direction: column);
}

.product-gallery {
	display: grid;
	grid-template-columns: repeat(1, 450px);
	grid-auto-flow: row;
	gap: 15px;

	&__item {
		display: none;
		width: 100%;

		&:first-child {
			display: block;
		}
	}
}

.product-details {
	display: grid;
	gap: 40px;
	width: 100%;

	&__meta {
		@include mixins.flex($justify: space-between);
	}
}

.product-details-header {
	display: grid;
	gap: 5px;
	width: 100%;

	&__name {
		font-size: 28px;
		font-weight: 400;
	}
}

.product-details-actions {
	display: grid;
	gap: 10px;

	&__button {
		@include mixins.button($justify: center);
		width: 100%;
		height: 60px;
		font-size: 18px;

		&--primary {
			@include mixins.button($justify: center, $primary: true);
		}
	}
}

.product-details-meta {
	@include mixins.flex($justify: space-between);

	&__description {
		max-width: 60%;
		color: #444;
	}
}

@media (min-width: 520px) {
	.product-details {
		margin-top: 40px;
		width: 400px;
	}
}

@media (min-width: 920px) {
	.product-details {
		position: sticky;
		top: 80px;
		margin-top: 40px;
		width: 350px;
		padding-left: 40px;
	}

	.product-wrapper {
		@include mixins.flex($align: flex-start);
	}

	.product-gallery {
		&__item {
			display: block;
		}
	}
}

@media (min-width: 1400px) {
	.product-gallery {
		grid-template-columns: repeat(2, 450px);
	}
}
