@use "../base/mixins";

.product-wrapper {
	padding: 40px;
	@include mixins.flex($align: flex-start);
}

.product-gallery {
	display: grid;
	grid-template-columns: repeat(2, 400px);
	grid-auto-flow: row;
	gap: 15px;

	&__item {
		width: 100%;
	}
}

.product-details {
	display: grid;
	gap: 40px;
	padding-left: 40px;
	width: 300px;

	&__header {
		display: grid;
		gap: 5px;
		width: 100%;
	}

	&__meta {
		@include mixins.flex($justify: space-between);
	}

	&__name {
		font-size: 28px;
		font-weight: 400;
	}

	&__actions {
		display: grid;
		gap: 10px;
	}

	&__actions-button {
		@include mixins.button($justify: center);
		width: 100%;
		height: 50px;
		font-size: 18px;

		&--primary {
			@include mixins.button($justify: center, $primary: true);
		}
	}
}
