.carousel {
	position: relative;
	width: 100%;
	margin: 40px 0 0;
	user-select: none;

	&__overlay {
		display: none;
	}

	&__scroll {
		display: grid;
		grid-auto-flow: column dense;
		gap: 25px;
		overflow-x: scroll;

		&::-webkit-scrollbar {
			display: none;
		}
	}
}

@media (min-width: 800px) {
	.carousel {
		&__overlay {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			height: 100%;
			pointer-events: none;
			padding: 0 40px;
		}

		&__control {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 5vw;
			height: 5vw;
			background: white;
			margin-bottom: 80px;
			border-radius: 50%;
			pointer-events: all;
			cursor: pointer;
		}
	}
}

@media (min-width: 1200px) {
	.carousel__control {
		width: 60px;
		height: 60px;
	}
}
