.home {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	gap: 120px;
	padding: 40px 0 120px 0;

	&__section {
		width: 100%;
		display: flex;
		flex-direction: column;
		overflow: auto;
	}

	&__section-title {
		font-size: 24px;
		font-weight: 400;
	}
}

.spotlight {
	position: relative;
	width: 100%;
	height: 800px;

	&__description {
		display: grid;
		gap: 5px;
		padding: 40px;
	}

	&__title {
		font-size: 2em;
	}

	&__background {
		object-fit: cover;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
}

.products {
	display: flex;
	gap: 40px;
	width: 100vw;
	overflow-x: scroll;
	padding: 40px 0;
}

.news {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 20px;
	background: #eee;

	&__item {
		text-align: center;
		color: #333;
	}

	&__button {
		display: block;
		margin-top: 15px;
	}
}

@media (min-width: 750px) {
	.news {
		flex-direction: row;

		&__item {
			margin-right: 15px;
		}

		&__button {
			margin-top: 0;
		}
	}
}

@media (min-width: 1500px) {
	.home {
		&__section {
			width: 95vw;
		}
	}
}

@media (min-width: 1825px) {
	.home {
		&__section {
			width: 1800px;
		}
	}
}
