@use "../scss/base/mixins";

* {
	margin: 0;
	padding: 0;
	color: black;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.wrapper {
	@include mixins.flex();
}

.auth-status {
	@include mixins.flex($justify: flex-end);
	padding: 5px 20px;
	font-size: 14px;
	background: #eee;

	&__spacer {
		padding: 0 10px;
	}

	&__logout {
		border: none;
		outline: none;
		background: transparent;
		cursor: pointer;
		font-size: 14px;
	}
}

@media (min-width: 1030px) {
	.auth-status {
		padding: 5px 10vw;
	}
}
