* {
	margin: 0;
	padding: 0;
	color: black;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.App {
	width: 100%;
}

.button {
	display: inline-block;
	border: none;
	outline: none;
	cursor: pointer;
	width: fit-content;

	&--primary {
		background-color: #333;
		color: white;
		padding: 0.5em 1em;
		border-radius: 20px;
		font-size: 16px;
	}
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}
