@use "./base/mixins";

$header-height: 60px;

.header {
	display: flex;
	justify-content: space-between;
	height: $header-height;
	background: #fff;
	padding: 0 40px;

	&__logo {
		@include mixins.flex($justify: flex-start);
	}

	&__actions {
		@include mixins.flex($justify: flex-end);

		&-item {
			margin-left: 20px;
		}
	}
}
